Options +FollowSymLinks
Options -Indexes
DirectoryIndex index.php
RewriteEngine on
RewriteEngine $1 !^(index\.php|public|assets|robots\.txt)
RewriteEngine %{REQUEST_FILENAME} !-f
RewriteEngine %{REQUEST_FILENAME} !-d
RewriteEngine ^(.*)$ index.php/$1 [L,QSA]